<!DOCTYPE html>
<html>
<head>
    <title>Conference List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'conferences/styles.css' %}">
</head>
<body>
    <h1>Conference List</h1>
    <ul class="conference-list">
        {% for conference in conferences %}
            <li>
                <h2>{{ conference.title }}</h2>
                <p>{{ conference.date }}</p>
                <p>{{ conference.location }}</p>
                <a href="{% url 'conferences:conference_details' conference.id %}">View Details</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
